{% extends "browser/base.html" %}
{% load static %}
{% block content %}

<div class="container">
	<div class="page-header">
		<h1>Browse by Brands</h1>
	</div>

<div class="well">
	The POD database is public. Go to "Projects & Download" to download it.
</div>

<div class="brand-pagination">
	{% if page_id == 'a'  %} <button type="button" class="btn btn-sm btn-primary">A</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-a" >A</a>{% endif %}
	{% if page_id == 'b'  %} <button type="button" class="btn btn-sm btn-primary">B</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-b">B</a>{% endif %}
	{% if page_id == 'c'  %} <button type="button" class="btn btn-sm btn-primary">C</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-c">C</a>{% endif %}
	{% if page_id == 'd'  %} <button type="button" class="btn btn-sm btn-primary">D</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-d">D</a>{% endif %}
	{% if page_id == 'e'  %} <button type="button" class="btn btn-sm btn-primary">E</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-e">E</a>{% endif %}
	{% if page_id == 'f'  %} <button type="button" class="btn btn-sm btn-primary">F</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-f">F</a>{% endif %}
	{% if page_id == 'g'  %} <button type="button" class="btn btn-sm btn-primary">G</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-g">G</a>{% endif %}
	{% if page_id == 'h'  %} <button type="button" class="btn btn-sm btn-primary">H</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-h">H</a>{% endif %}
	{% if page_id == 'i'  %} <button type="button" class="btn btn-sm btn-primary">I</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-i">I</a>{% endif %}
	{% if page_id == 'j'  %} <button type="button" class="btn btn-sm btn-primary">J</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-j">J</a>{% endif %}
	{% if page_id == 'k'  %} <button type="button" class="btn btn-sm btn-primary">K</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-k">K</a>{% endif %}
	{% if page_id == 'l'  %} <button type="button" class="btn btn-sm btn-primary">L</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-l">L</a>{% endif %}
	{% if page_id == 'm'  %} <button type="button" class="btn btn-sm btn-primary">M</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-m">M</a>{% endif %}
	{% if page_id == 'n'  %} <button type="button" class="btn btn-sm btn-primary">N</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-n">N</a>{% endif %}
	{% if page_id == 'o'  %} <button type="button" class="btn btn-sm btn-primary">O</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-o">O</a>{% endif %}
	{% if page_id == 'p'  %} <button type="button" class="btn btn-sm btn-primary">P</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-p">P</a>{% endif %}
	{% if page_id == 'q'  %} <button type="button" class="btn btn-sm btn-primary">Q</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-q">Q</a>{% endif %}
	{% if page_id == 'r'  %} <button type="button" class="btn btn-sm btn-primary">R</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-r">R</a>{% endif %}
	{% if page_id == 's'  %} <button type="button" class="btn btn-sm btn-primary">S</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-s">S</a>{% endif %}
	{% if page_id == 't'  %} <button type="button" class="btn btn-sm btn-primary">T</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-t">T</a>{% endif %}
	{% if page_id == 'u'  %} <button type="button" class="btn btn-sm btn-primary">U</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-u">U</a>{% endif %}
	{% if page_id == 'v'  %} <button type="button" class="btn btn-sm btn-primary">V</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-v">V</a>{% endif %}
	{% if page_id == 'w'  %} <button type="button" class="btn btn-sm btn-primary">W</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-w">W</a>{% endif %}
	{% if page_id == 'x'  %} <button type="button" class="btn btn-sm btn-primary">X</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-x">X</a>{% endif %}
	{% if page_id == 'y'  %} <button type="button" class="btn btn-sm btn-primary">Y</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-y">Y</a>{% endif %}
	{% if page_id == 'z'  %} <button type="button" class="btn btn-sm btn-primary">Z</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-z">Z</a>{% endif %}
	{% if page_id == '0'  %} <button type="button" class="btn btn-sm btn-primary">0</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-0">0</a>{% endif %}
	{% if page_id == '1'  %} <button type="button" class="btn btn-sm btn-primary">1</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-1">1</a>{% endif %}
	{% if page_id == '2'  %} <button type="button" class="btn btn-sm btn-primary">2</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-2">2</a>{% endif %}
	{% if page_id == '3'  %} <button type="button" class="btn btn-sm btn-primary">3</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-3">3</a>{% endif %}
	{% if page_id == '4'  %} <button type="button" class="btn btn-sm btn-primary">4</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-4">4</a>{% endif %}
	{% if page_id == '5'  %} <button type="button" class="btn btn-sm btn-primary">5</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-5">5</a>{% endif %}
	{% if page_id == '6'  %} <button type="button" class="btn btn-sm btn-primary">6</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-6">6</a>{% endif %}
	{% if page_id == '7'  %} <button type="button" class="btn btn-sm btn-primary">7</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-7">7</a>{% endif %}
	{% if page_id == '8'  %} <button type="button" class="btn btn-sm btn-primary">8</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-8">8</a>{% endif %}
	{% if page_id == '9'  %} <button type="button" class="btn btn-sm btn-primary">9</button>{% else %}<a class="btn btn-sm btn-default" href="../brand/list-9">9</a>{% endif %}
</div>


{% if page_brand_list %}
<section class="row">
	{% for Brand in page_brand_list %}
		<div class="col-xs-4 col-sm-3 col-md-2">

			<a href="{% url 'browser:bsin' Brand.BSIN %}">
				<!-- {{MEDIA_URL}}brand/{{Brand.BSIN}}.jpg -->
				<img class="thumbnail-list"
				src="{{MEDIA_URL}}brand/{{Brand.BSIN}}.jpg"
				title="Brand - {{ Brand.BRAND_NM }}"
				alt="Brand - {{ Brand.BRAND_NM }}"
				onerror="this.src='{% static 'browser/img/coming-soon.jpg' %}';" >
			</a>
			<p>{{ Brand.BRAND_NM }}</p>
		</div>
    {% endfor %}

</section>
{% else %}
	<p>No brands are available.</p>
{% endif %}
</div>
</div>
{% endblock %}
