{% extends "browser/base.html" %}
{% load static %}
{% load browser_extras %}
{% block content %}


<div class="container">
  <div class="page-header">
    <h1>Brand {{bsin_detail.BSIN}} - Product list</h1>
  </div>
</div>

<div class="list-header">
      <div class="container">
            <table border="0" cellspacing="0px" cellpadding="0px">
            <tr>
                <td>
                  <!-- {{MEDIA_URL}}brand/{{bsin_detail.BSIN}}.jpg -->
      						<img class="thumbnail-list"
                  src="{{MEDIA_URL}}brand/{{bsin_detail.BSIN}}.jpg"
                  title="{{bsin_detail.BRAND_NM}}"
                  alt="{{bsin_detail.BRAND_NM}}"
                  onerror="this.src='/static/browser/img/coming-soon.jpg';">
                </td>

				        <td>
                    <b>BSIN</b> : {{bsin_detail.BSIN}}<br>
					          <b>Brand name</b> : {{bsin_detail.BRAND_NM}}<br>
                    <b>Brand type</b> : {{bsin_detail.BRAND_TYPE_CD.BRAND_TYPE_NM}}<br><br>
                    {% if bsin_detail.OWNER_CD %}
                    <b>Owner</b> : <a  href="../owner/{{bsin_detail.OWNER_CD.OWNER_CD|stringformat:"06d"}}" >{{bsin_detail.OWNER_CD.OWNER_NM}}</a><br><br>
                    {% endif %}
                    <b>Website</b> : <a href="{{BRAND_LINK}}" target="_blank" rel="nofollow">{{bsin_detail.BRAND_LINK}}</a><br>
                </td>
            </tr>
          </table>
  </div>
</div>
	{% if gtin_list %}

		{% for Gtin in gtin_list %}

    <div class="list-item">
  		<div class="container">
  	    <table>
        <tr>
        	<td>
        	<div itemscope itemtype="http://schema.org/Product">
                <table>
                    <tr>
                        <td>
                            <a  href="{% url 'browser:gtin' Gtin.GTIN_CD %}" >
                              <!-- {{MEDIA_URL}}gtin/gtin-{{Gtin.GTIN_CD|slice:"0:3"}}/{{Gtin.GTIN_CD}}.jpg -->
              								<img itemprop="image"
              									class="thumbnail-list"
              									src="{{MEDIA_URL}}gtin/gtin-{{Gtin.GTIN_CD|slice:"0:3"}}/{{Gtin.GTIN_CD}}.jpg"
              									alt="{{bsin_detail.BRAND_NM}} - {% if Gtin.PRODUCT_LINE %} {{Gtin.PRODUCT_LINE}} - {% endif %} {{Gtin.GTIN_NM}} {{Gtin.GTIN_CD}} {{Gtin.UPC_CD}}"
              									title="{{bsin_detail.BRAND_NM}} - {% if Gtin.PRODUCT_LINE %} {{Gtin.PRODUCT_LINE}} - {% endif %} {{Gtin.GTIN_NM}} {{Gtin.GTIN_CD}} {{Gtin.UPC_CD}}"
                                onerror="this.src='/static/browser/img/coming-soon.jpg';">
              							</a>	<!-- / UPC -->

                        </td>
                        <td>
                                <h2>{% if Gtin.PRODUCT_LINE %} <b>{{Gtin.PRODUCT_LINE}}</b> - {% endif %} {{Gtin.GTIN_NM}}</h2>

                                <b>GTIN Code </b> : <span style="font-family:'Courier New', Courier, monospace;">
              								  <span itemprop="gtin13">{{Gtin.GTIN_CD}}</span>
              									{{Gtin.UPC_CD}}  <!-- / UPC -->
              								  </span>  <br>

                                {% if Gtin.GCP_CD %} <b>GCP Code</b> : <span style="font-family:'Courier New', Courier, monospace;">
                								  {{Gtin.GCP_CD}}
                								  </span>
                								  <br>
                               {% endif %}

                                <br>

                                <b>Commercial name</b> : <span itemprop="name">{% if Gtin.GTIN_NM %} {{Gtin.GTIN_NM}} {% else %} Name of {{Gtin.GTIN_CD}} coming soon {% endif %}</span><br>

                                {% if Gtin.PRODUCT_LINE %} <b>Product line</b> : {{Gtin.PRODUCT_LINE}} <br> {% endif %}



                                {% if Gtin.M_G or M_OZ %}
                                    <b>Weight</b> :
                                {% endif %}
                                {% if Gtin.M_G %}
                                    {% if Gtin.M_G  >= 1000 %}
                                        {{Gtin.PKG_UNIT}} x {{Gtin.M_G|to_kg}} kg
                                    {% else %}
                                        {{Gtin.PKG_UNIT}} x {{Gtin.M_G|floatformat}} g
                                    {% endif %}
                                    {% if Gtin.M_OZ %} / {% else %} <br> {% endif %}
                                {% endif %}
                                {% if Gtin.M_OZ %} {{Gtin.PKG_UNIT|floatformat}} x {{Gtin.M_OZ|floatformat}} oz<br> {% endif %}
                                {% if Gtin.M_ML or Gtin.M_FLOZ %} <b>Volume</b> {% endif %}
                                {% if Gtin.M_ML %}
                                    {% if Gtin.M_ML >= 1000 %}
                                        {{Gtin.PKG_UNIT}} x {{Gtin.M_ML|to_liter}} l
                                     {% else %}
                                        {{Gtin.PKG_UNIT}} x {{Gtin.M_ML|floatformat}} ml
                                    {% endif %}
                                    {% if Gtin.M_FLOZ %}  / {% else %} <br> {% endif %}
                                {% endif %}
                                {% if Gtin.M_FLOZ %} {{Gtin.PKG_UNIT|floatformat}} x {{Gtin.M_FLOZ|floatformat}} floz<br> {% endif %}
                                {% if Gtin.M_ABV %} <b>Alcohol</b> : {{Gtin.M_ABV|floatformat}} % vol.<br> {% endif %}
                                {% if Gtin.M_ABW %} <b>Alcohol</b> : {{Gtin.M_ABW|floatformat}} % vol.<br> {% endif %}


                                {% if Gtin.nutrition.SYNC_DT %}

                                  <br>
                  								<a  href="{% url 'browser:gtin' Gtin.GTIN_CD %}" >
                                    <button type="button" class="btn btn-xs btn-danger">Nutrition Facts available</button>
                                  </a>

                								{% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            </td>
        </tr>
      </table>
      <hr>
    </div>
  </div>
    {% endfor %}

	{% else %}
	<p>No products for this brand</p>
    {% endif %}
</div>

{% endblock %}
