{% extends "browser/base.html" %}
{% load static %}
{% block content %}

<div class="container">
  <div class="page-header">
    <h1>U.S. Nutrition Facts</h1>
  </div>

<div class="well">
<p>OPD database contains nutrition facts.</p>
<p>U.S. Food &amp; Drug Administration</b> provides Food labeling requirements to manufacturers and most of them publish these information on their website.
<a href="http://www.fda.gov/Food/GuidanceRegulation/GuidanceDocumentsRegulatoryInformation/LabelingNutrition/ucm2006828.htm" target="_blank" rel="nofollow">Access to the FDA website for more information</a></p>
<p><a href="http://ec.europa.eu/food/safety/labelling_nutrition/labelling_legislation/index_en.htm" target="_blank" rel="nofollow">The new EU Regulation</a> No 1169/2011 on the provision of food information to consumers entered into application on 13 December 2014. The obligation to provide nutrition information will apply from 13 December 2016.<p>
</div>


<section class="row">
  <div class="col-xs-4 col-sm-3 col-md-2">
			<a href="brand/BI5TXW">
         <img src="{{MEDIA_URL}}brand/BI5TXW.jpg" style="margin: 0px; border:#CCCCCC solid 1px" border="0" height="150px" width="150px" title="Brand - Izze" alt="Brand - Izze">
      </a>
      <p>Izzi</p>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-2">
			<a href="brand/MEJZBY">
                <img src="{{MEDIA_URL}}brand/MEJZBY.jpg" style="margin: 0px; border:#CCCCCC solid 1px" border="0"  height="150px" width="150px" title="Brand - Saffron Road" alt="Brand - Saffron Road">
            </a><p>Saffron Road</p>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
			<a href="brand/48MHLZ">
                <img src="{{MEDIA_URL}}brand/48MHLZ.jpg" style="margin: 0px; border:#CCCCCC solid 1px" border="0" height="150px" width="150px" title="Brand - Aquafina" alt="Brand - Aquafina">
            </a>
            <p>Aquafina</p>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
			<a href="brand/6LW2P5">
                <img src="{{MEDIA_URL}}brand/6LW2P5.jpg" style="margin: 0px; border:#CCCCCC solid 1px" border="0" height="150px" width="150px" title="Brand - CapriSun" alt="Brand - CapriSun">
            </a>
            <p>Caprisun</p>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2">
            <a href="brand/R1TS5M">
                <img src="{{MEDIA_URL}}brand/R1TS5M.jpg" style="margin: 0px; border:#CCCCCC solid 1px" border="0"  height="150px" width="150px" title="Brand - Arnold" alt="Brand - Arnold">
            </a>
            <p>Arnold</p>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2">
			<a href="brand/FCKJ3R">
            	<img src="{{MEDIA_URL}}brand/FCKJ3R.jpg" style="margin: 0px; border:#CCCCCC solid 1px" border="0"  height="150px" width="150px" title="Brand - Looza" alt="Brand - Looza">
       		</a>
          <p>Looza</p>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
			<a href="brand/8RB56Z">
                <img src="{{MEDIA_URL}}brand/8RB56Z.jpg" style="margin: 0px; border:#CCCCCC solid 1px" border="0" height="150px" width="150px" title="Brand - Washington Fruit &amp; Produce Co." alt="Brand - Washington Fruit &amp; Produce Co.">
            </a>
            <p>Washington Fruit &amp; Produce Co.</p>
          </div>
          <div class="col-xs-4 col-sm-3 col-md-2">
			<a href="brand/D13UVY">
                <img src="{{MEDIA_URL}}brand/D13UVY.jpg" style="margin: 0px; border:#CCCCCC solid 1px" border="0"  height="150px" width="150px" title="Bush's best" alt="Bush's best">
            </a>
            <p>Bush's Best</p>
        </div>
        </section>
		</div>
  </div>

 {% endblock %}
